
<html xmlns-"http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
      <!-- indica que va a llamar todo como etiqueta de head -->
    <head th:fragment="head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        
        <!--ENLACES LOCALES NAVEGACION ENTRE PAGS-->
      <!-- <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
      <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> -->
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
