<!-- xmlns=" se le indica la nomenclatura que usarems -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="layout/plantilla :: head"> 
    </head>
 
    <body>

        <header th:replace="layout/plantilla :: header"/> 
        <!-- fragmento llamado de fragmentosCategoria EDITAR -->
        <section th:replace="producto/fragmentos :: editarProducto" />
        
        
        <footer th:replace="layout/plantilla :: footer"/> 

    </body>
</html>